@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-helvetica-neue), Arial, sans-serif;
}

.font-asgard {
  font-family: var(--font-asgard), var(--font-helvetica-neue), Arial, sans-serif;
}

.font-helveticabold {
  font-family: var(--font-helvetica-neue-bold), var(--font-helvetica-neue-bold), Arial, sans-serif;
}